@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif !important;
    margin: 0;
    padding: 0;
}
.btn-grad {
    background: linear-gradient(90.07deg, #ff3565 2.32%, #ff3596 90.7%);
}

button:disabled {
    cursor: default;
}
.pickupInput {
    @apply focus:outline-none appearance-none mt-2 w-full h-16 flex items-center py-6 px-3 bg-gray-800 rounded-md text-sm text-gray-400;
}
.pac-container {
    @apply bg-gray-800 pb-2 pr-2;
}
.pac-item {
    @apply bg-gray-800 flex items-center border-t border-gray-900 py-2 pl-2 text-xs text-gray-400;
}
.pac-item-query {
    @apply text-gray-400;
}
.pac-matched {
    @apply font-bold;
}
.pac-icon {
    @apply flex-shrink-0;
}
